<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>

    <application
        android:allowBackup="true"
        android:label="RJNX AI"
        android:icon="@drawable/ic_mio"
        android:roundIcon="@drawable/ic_mio"
        android:theme="@style/Theme.RJNXAI"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"/>

        <activity
            android:name=".ChatActivity"
            android:exported="false"/>

        <receiver
            android:name=".RjnxAlarmReceiver"
            android:exported="false"/>

        <service
            android:name=".RjnxVoiceService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone"/>
    </application>
</manifest>
